:root {
  --darkmodeDarkGrey: #333333;
  --darkmodeLightGrey: #a5a5a5;
  --Orange: #ef9535;
  --lightmodeDarkGrey: #808080;
  --lightmodeLightGrey: #e5e5e5;
  --black: #000000;
  --white: #ffffff;
  --bodybackground: #00033674;
}
body {
  background-color: var(--bodybackground);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
main {
  margin: auto;
}
.border {
  height: 610px;
  width: 340px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 30px;
}
.mainbodyBackground {
  background-color: black;
  height: 600px;
  width: 330px;
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.dynamicIsland {
  height: 20px;
  width: 70px;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  gap: 5px;
}
.camera {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--black);
  margin-right: 5px;
}
.sensor {
  margin-left: auto;
  height: 10px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--black);
}
.closeBar {
  width: 30%;
  margin-bottom: 8px;
  background-color: var(--white);
  height: 2px;
}
.mainbody {
  background-color: var(--black);
  color: var(--white);
  height: 520px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: auto;
  justify-content: center;
  /* border: 1px solid red; */
}
.mainbody .header {
  display: flex;
  position: absolute;
  margin-top: -40px;
  margin-left: 10px;
  width: 280px;
  gap: 5px;
  font-size: 0.8rem;
}
.header .network {
  margin-left: auto;
  height: 14px;
  width: 17px;
}
.network i {
  height: 10px;
  width: 10px;
  color: var(--white);
}
.mainbody input {
  margin-top: 80px;
  padding: 0 30px;
  height: 100px;
  width: 100%;
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: 3rem;

  text-align: right;
}
input:focus,
input:hover {
  border: none;
  outline: none;
  cursor: pointer;
}
.mainbody button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.lightgrey {
  background-color: var(--darkmodeLightGrey);
  border: none;
  color: var(--black);
  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out;
}
.lightgrey:hover {
  background-color: var(--lightmodeLightGrey);
}
.darkgrey {
  background-color: var(--darkmodeDarkGrey);
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out;
}
.darkgrey:hover {
  background-color: var(--lightmodeDarkGrey);
}
.orange {
  background-color: var(--Orange);
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out;
}
.orange:hover {
  background-color: #ebb36a;
}
.mainbody .zero {
  width: 130px;
  border-radius: 50px;
}
